Q-1 What are data structures, and why are they important?
  
 == In computer science, a data structure is a method of organizing, managing, and storing data. Think of it as a specialized format for arranging information in a computer's memory to allow for efficient access and modification. There are various types of data structures, each designed for specific purposes, like a filing system for a library.

-Importance of Data Structures
   
   * Efficiency: Choosing the correct data structure for a task significantly impacts a program's performance. For example, using a hash table allows for quick lookups, while an array provides fast access to elements by their index. Using the wrong data structure can lead to slow and inefficient code, especially with large amounts of data.

   * Algorithm Design: Data structures are the foundation of algorithms. An algorithm is a set of instructions used to perform a specific task. The way an algorithm processes data is often directly tied to the underlying data structure.

   * Organization and Reusability: Data structures provide a logical framework for organizing information. They can be reused across different parts of a program or in other programs, which saves development time and promotes consistency.

Q-2  Explain the difference between mutable and immutable data types with examples?

  == In programming, a mutable data type can be changed after it's created, while an immutable data type cannot. This means that if you try to modify an immutable object, the system creates an entirely new object instead of changing the original one.

  Mutable Data Types:-
     * Mutable objects are those whose state can be altered after creation. When you modify a mutable object, the change happens "in-place," meaning the object's memory address remains the same.

     my_list = [1, 2, 3]
print(id(my_list))  # Example memory address: 140737352843840
my_list.append(4)
print(id(my_list))  # Memory address is the same: 140737352843840
print(my_list) # Output: [1, 2, 3, 4]
     
     Immutable Data Types:-

       * Immutable objects cannot be changed once they are created. If you perform an operation that seems to modify an immutable object, you're actually creating a new object with a new memory address.

      my_string = "hello"
print(id(my_string))  # Example memory address: 140737352843872
my_string += " world"
print(id(my_string))  # A new memory address is created: 140737352844000
print(my_string) # Output: "hello world"


Q-3 What are the main differences between lists and tuples in Python?
  
  == List 1)  Mutable can be changed.
          2)  Square brackets: [1, 2, 3]
          3)  More methods (e.g., append(), pop() )
          4) When you need a dynamic collection
      
    tuple 1) Immutable (cannot be changed).
          2) Parentheses: (1, 2, 3)
          3) Faster (less overhead)
          4) Fewer methods (no modifying methods)

 Q-4 Describe how dictionaries store data.

  == Dictionaries in most programming languages (like Python) are data structures that store data in key-value pairs. Each key is unique, and it maps to a value. The way dictionaries store and retrieve this data is typically based on a hash table.

    Key is hashed: When you insert or look up a key, the dictionary runs the key through a hash function (like hash() in Python) to get an integer (called a hash code).

Index calculation: That hash code is then mapped to an index in an internal array (the table).

Store value at index: The value (along with the key) is stored at that index.

Q-5 Why might you use a set instead of a list in Python.

  == You might choose a set instead of a list in Python for several key reasons, depending on what you're trying to do. Here's a breakdown:

   . Fast Membership Testing
Sets are optimized for checking whether an item exists.

Time complexity:

x in my_set → O(1) average

x in my_list → O(n)`, because it has to scan each item.

Q-6 What is a string in Python, and how is it different from a list?

  == A string in Python is a sequence of characters, used to represent text. It behaves similarly to a list in some ways, but there are key differences.

  example- s = "hello"
print(s[1])       # 'e'
print(s.upper())  # 'HELLO'

Q-7  How do tuples ensure data integrity in Python?
   
   == Tuples help ensure data integrity in Python primarily because they are immutable — once created, their contents cannot be changed. This immutability has several important effects that help protect and preserve data.
  
Immutability Prevents Accidental Changes
After a tuple is created, you can't:

.Add or remove items

.Modify existing values

.Reorder the contents

Example:-
         
         person = ("Alice", 30)

Q-8 What is a hash table, and how does it relate to dictionaries in Python?

  == A hash table is a data structure that stores data in key-value pairs, allowing for very fast lookup, insertion, and deletion. It’s the core technology behind dictionaries in Python.
   
  . A hash table works by using a hash function to convert a key (like "name" or 42) into a hash code (an integer), which is then mapped to an index in an underlying array where the value is stored.


 Q-9 Can lists contain different data types in Python?

   == Yes, lists in Python can contain different data types.

Python lists are heterogeneous, meaning they can store a mix of data types in the same list — including strings, integers, floats, other lists, objects, or even functions.
  
Q-10 Explain why strings are immutable in Python?

   == Strings in Python are immutable, meaning that once a string is created, it cannot be changed. This design choice is intentional and has several important reasons behind it.
  
  1) Efficiency and Performance.
  2) Hashability (Used in Dicts and Sets).
  3) Data Safety
  
Q-11 What advantages do dictionaries offer over lists for certain tasks?

   == Dictionaries offer several key advantages over lists for specific tasks, particularly when dealing with key-value pair data or when fast lookups are needed.

  1. Faster Lookup Time
Dictionaries use hashing, so accessing a value by key is typically O(1) (constant time).

Lists, on the other hand, require a linear search (O(n)) if you're looking for a value.
Use Case Example: Looking up a user’s email by their username.

 2. Better for Structured Data
Dictionaries are ideal for representing objects or structured data with named fields.
Each key acts as a label, improving readability and organization.

 3. Avoids Duplicates in Keys
Dictionary keys must be unique, which helps prevent accidental duplication of identifiers.
Lists can contain duplicates, which may be problematic in some use cases.

Q-12 Describe a scenario where using a tuple would be preferable over a list?

  == Using a tuple is preferable over a list when you need an immutable, fixed-size, and hashable collection of items.

  Using a Tuple as a Dictionary Key
Suppose you're building a system to store weather data for different geographic locations. Each location is defined by its latitude and longitude, and you want to map each location to its corresponding weather information.


 Q-13  How do sets handle duplicate values in Python?

   == In Python, sets automatically eliminate duplicate values. When you add elements to a set, any duplicates are ignored, and only unique elements are retained.

  Q-14 How does the “in” keyword work differently for lists and dictionaries?

    == Great question! The in keyword is used for membership testing in Python, but it behaves differently depending on the data structure—specifically for lists vs. dictionaries.
  
  my_list = [10, 20, 30]

print(20 in my_list)  #  True
print(40 in my_list)  # False

Q15- Can you modify the elements of a tuple? Explain why or why not?

 == No, you cannot modify the elements of a tuple in Python because tuples are immutable.

hy Tuples Are Immutable
Immutability means that once a tuple is created, its contents (elements) cannot be changed—you can't add, remove, or modify elements.

This design allows tuples to be:

Hashable (usable as keys in dictionaries and elements in sets)

Memory-efficient

Safe for use in constant or fixed collections

Q-16 What is a nested dictionary, and give an example of its use case?
  
  == A nested dictionary is a dictionary within another dictionary. It allows you to organize data hierarchically or in multiple levels, making it easier to represent complex structured data.

Q-17 Describe the time complexity of accessing elements in a dictionary?

  == Accessing elements in a Python dictionary has a typical time complexity of O(1) — constant time.

Dictionaries in Python are implemented as hash tables.

When you access a value using a key like my_dict[key], Python:

Computes the hash of the key.

Uses that hash to find the correct "bucket" in memory.

Retrieves the value directly, without scanning other elements.

This is why lookup is generally very fast, regardless of the dictionary's size.


Q-18 In what situations are lists preferred over dictionaries?

  == Lists are preferred over dictionaries when order, position, or duplicates matter, and you don't need key-based access.

Lists maintain a strict sequence of elements, which is useful when position is important.
Lists maintain a strict sequence of elements, which is useful when position is important.

Use Case: Managing a to-do list, playlist, or ordered steps.

Q-19 Why are dictionaries considered unordered, and how does that affect data retrieval?

  ==Historically, dictionaries in Python were considered unordered because prior to Python 3.7, they didn’t guarantee the order in which items were stored or retrieved. This meant that:

The order of keys when iterating over a dictionary could be arbitrary and unpredictable.
You couldn't rely on insertion order for logic, output, or testing.

Q-20 Explain the difference between a list and a dictionary in terms of data retrieval?

  ==Data Retrieval in Lists
Access by index: You retrieve elements by their position (an integer index).
Time complexity: Accessing an element by index is O(1) (fast).
Search by value: To find if a value exists or its position, Python does a linear search, which is O(n) (slower for large lists).
  my_list = ["apple", "banana", "cherry"]
print(my_list[1])      # Output: banana  (fast access by index)
print("banana" in my_list)  # Linear search O(n)

 Data Retrieval in Dictionaries

Access by key: You retrieve values using keys (not positions).
Time complexity: Accessing a value by key is typically O(1), very fast due to hashing.
Keys must be unique; you cannot retrieve by position or index.

 my_dict = {"a": "apple", "b": "banana", "c": "cherry"}
print(my_dict["b"])    # Output: banana (fast key-based access)
print("banana" in my_dict.values())  # Linear search on values O(n)

Q-1 Write a code to create a string with your name and print it?

In [1]:
name="suraj"

print(name)

suraj

Q-2 Write a code to find the length of the string "Hello World"

In [2]:
text="hello world"
length=len(text)
print("length of the string:",length)

length of the string: 11

Q-3 Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

Q-4 Write a code to convert the string "hello" to uppercas.

In [4]:
text="hello"
uppercase_text=text.upper()
print(uppercase_text)

HELLO


Q-5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
text="i lkie apple"
updated_text=text.replace("apple","orange")
print(updated_text)

i lkie orange

Q-6 Write a code to create a list with numbers 1 to 5 and print it.

In [5]:
numbers=[1,2,3,4,5,]
print(numbers)

[1, 2, 3, 4, 5]

Q-7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [11]:
number=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 6, 7, 8, 10]

Q-8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
numbers=[1,2,3,4,5,6,7,8]
numbers.remove(5)
print(numbers)

[1, 2, 3, 4, 6, 7, 8]

Q-9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [33]:
letters=['a','b','c','d']
second_element=letters[1]
print(second_element)

b

Q-10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [32]:
numbers=[1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

Q-11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [31]:
# create a tuple
my_tuple= (100,200,300)
print(my_tuple)
print(my_tuple)

(100, 200, 300)
(100, 200, 300)

Q-12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [30]:
# define the tuple
colours=('red','green','blue','yellow')

#access the second-to-last element
second_last =colours[-2]
#print the result
print(second_last)

blue

Q-13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [29]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
minimum = min(numbers)

# Print the result
print(minimum)

5

Q-14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [28]:
# define the tuple
animals=("dog","cat","rabbit")
#find the indax of "cat"
index=animals.index("cat")
#print the result
print(index)

1

Q-15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [27]:
# create a tuples of fruit
fruits=("apple","banana","grapes")
# check if "kiwi"is in the tuple
if"kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

Q-16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [26]:
# create a set
my_set=("a","b","c")
print(my_set)

('a', 'b', 'c')

Q-17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
# define the set
numbers ={1,2,3,4,5}
#clear all the elements from the set
numbers.clear()
#print the set after clearing
print(numbers)

set()

Q-18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [24]:
# define the set
numbers={1,2,3,4}
# remove the element 4
numbers.remove(4)
# print the set after removal
print(numbers)

{1, 2, 3}

Q-19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
#  define the set
set1={1,2,3}
set2={3,4,5}

#find the union
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q-20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
# define the set
set1={1,2,3}
set2={2,3,4}

#find the intersection
intersection_set=set1.intersection(set2)
print(intersection_set)
print(intersection_set)

{2, 3}
{2, 3}

Q-21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
# create a dictionry
person={"name":"suraj","age":20,"city":"gurugram"}
# print the dictionary
print(person)

{'name': 'suraj', 'age': 20, 'city': 'gurugram'}

Q-22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [20]:
# original dicitionary
person={"name":"john","age":25}
# add a new key value pair
person["country"]="usa"
print(person)

{'name': 'john', 'age': 25, 'country': 'usa'}

Q-23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [19]:
# define the dictionary
person={'name':'alice','age':30}
name_value=person['name']
print(name_value)

alice

Q-24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [18]:
# original dictionry
person= {'name':'bob','age':22,'city':'newyork'}
del person['age']
print(person)

{'name': 'bob', 'city': 'newyork'}

Q-25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [17]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q-26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [16]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

Q-27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [15]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 40, 42, 63, 64]

Q-28 Write a code to create a list with strings and print the element at the third index.

In [14]:
# create a list with strings
fruits=['apple','banana','cherry','date','elderberry']
print("element at index 3:",fruits[3])

element at index 3: date

Q-29  Write a code to combine two dictionaries into one and print the result.

In [13]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

Q-30  Write a code to convert a list of strings into a set.

In [12]:
# define a list of strings
fruits=['apple','banana','cherry','apple','banana']
fruits_set=set(fruits)
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'banana']